* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #dadada;
}

p {
  color: #383737;
  font-size: 1.6rem;
  font-family: sans-serif;
}

h1 {
  color: #383737;
  font-size: 2.4rem;
  font-weight: bolder;
  font-family: sans-serif;
}

h2 {
  color: #CF262B;
  font-size: 3.2rem;
  font-weight: bolder;
  font-family: sans-serif;
}

h3 {
  color: #EB673E;
  font-size: 2.4rem;
  font-weight: bolder;
  font-family: sans-serif;
  align: centered;
}

a {
  color: #383737;
  font-size: 1.6rem;
  font-family: sans-serif;
  text-decoration: none;
}

.container {
  background-color: white;
/*  height: 100vh;*/
  margin: 0 auto;
  width: 90%;
}

.navbar {
  margin:20px auto;
  width: 80%;
}


section {
  background-color: #0A0A29;
  color:#fff;
  padding:10rem 1rem;
}

.hero {
  background-color: #FDF2ED;
  margin:20px auto;
  width: 80%;
}

.case_study_01 {
  background-color: #F7F7F7;
  width: 100%;
}

.links {
  align: right;
}

.footer1 {
  background-color: #FCE5DB;
  height: 90px;
}

.footer2 {
  background-color: #C14382;
  color: #ffffff;
}

.button_red {
  background-color: #CF262B;
  color: #000000;
}

@media screen and (min-width: 1000px){
  .container {
      width: 98rem;
  }
}
