*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  line-height: 5em;
  letter-spacing: .25em;
}

.container {
  margin: 10px auto;
  font-size: 1.2em;
  width: 100%;
}

  div {
    background-color: #dadada;
    background-size: cover;
    text-transform: capitalize;
    text-align: left;
    font-family: serif;
    font-size: 1.5em;
    letter-spacing: 0;
    width: 300px;
    height:240px;
    margin: 10px auto;
    padding: 10px 25px;
    display: block;
  }

  .preview_baku {
    background-image: url("../images/baku.jpg");
  }

  .preview_london {
    background-image: url("../images/london.png");
    }

  .preview_madrid {
    background-image: url("../images/madrid.jpg");
    }

  .preview_rome {
    background-image: url("../images/rome.jpg");
  }

  @media screen and (min-width: 575px){
   div {
      width: 350px;
      margin: 10px 10px;
      display: inline-block;
  }
}

@media screen and (min-width: 991px){
 div {
   width: 220px;
   margin: 10px 10px;
   display: inline-block;
  }
}
